.chair {
   background-color: var(--bg-primary);
   display: grid;
   place-content: center;
   width: 100%;
   aspect-ratio: 1/1;
   cursor: pointer;
   box-shadow: 2px 2px #ccc;
}

.unselected {
   background-color: var(--bg-primary);
}

.selected {
   background-color: var(--bg-green);
}

.reserving {
   background-color: var(--bg-orange);
}

.reserved {
   background-color: var(--bg-red);
}