header {
   background-color: aqua;
   width: 50%;
   margin: 0 auto;
   display: grid;
   place-content: center;
   padding: 25px;
   font-size: 2rem;
   border: 1px solid #ccc;
   border-radius: 10px;
}
